<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>MIDAS Task 3: NLP</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename="favicon.PNG")}}"/>
</head>
<body>
    <header class="text-gray-700 body-font" style="background-color: #3FADA8">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            
            <span class="ml-3 text-xl" style="color: white;"><b>MIDAS Task 3: NLP</b></span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center" style="color: white;">
            <a class="mr-5 hover:text-gray-900" href="/">Home</a>
            <a class="mr-5 hover:text-gray-900" href="/analysis">Data Analysis</a>
              <a class="mr-5 hover:text-gray-900" href="/readme">ReadMe</a>
            <a class="mr-5 hover:text-gray-900" href="/about">About</a>
          </nav>
        </div>
      </header>

<section class="ml-20 mr-20 text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <embed src="{{ url_for('static', filename="README.pdf")}}" width="1500" height="1000"
 type="application/pdf">

  </div>
</section>



</body>
</html>